<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>LA確認テスト</title>
	<link rel="stylesheet" href="/assets/css/count.css">
</head>
<body>
	<form action="/title" method="post">
		<input type="text" name="title" placeholder="なにか書いてね" value=<%= session[:a] %>>
		<input type="submit" value="更新">
	</form>
	
	<h1><%= @count %></h1>
	
	<form action="/plus" method="post">
		<input type="submit" value="+">
	</form>
	
	<form action="/minus" method="post">
		<input type="submit" value="-">
	</form>
	
	<form action="/clear" method="post">
		<input type="submit" value="clear">
	</form>
	
	<form action="/multi" method="post">
		<input type="submit" value="×2">
	</form>
	
	<form action="/div" method="post">
		<input type="submit" value="÷2">
	</form>
	
	<h1><%= @count2 %></h1>
	
	<form action="/plus2" method="post">
		<input type="submit" value="+">
	</form>
	
</body>
</html>
